@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scrollbar-width: none;
}

:root {
  --foreground-rgb: 0, 0, 26;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 26;
    --background-end-rgb: 0, 0, 26;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navBar{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 50px;
}

.navBar > *:last-child{
  margin-right: 20px;
}

.navBar > *:hover {
  text-decoration: underline;
}

.navBar > *:first-child:hover {
  text-decoration: none;
}

.welcome{
  margin-right: auto;
  margin-left: 20px;
}

.image{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../public/synthwave.jpg);
  background-repeat: no-repeat;
  height: 300px;
  background-position:50%;
  background-size:100%;
}

.changeImage {
  font-weight: bold;
  background-color: transparent;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px;
  transition: all .3s;
  touch-action: manipulation;
  vertical-align: top;
  margin: 8px;
}

.changeImage:hover {
  background-color: #311e84;
  opacity: 1;
  transform: translateY(-2px);
  transition-duration: .35s;
}

.changeImage:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.changeImage:hover {
  box-shadow: rgba(39, 136, 174, 0.2) 0 6px 12px;
}

.container{
  margin: auto;
  height: 1000px;
  width: 80%;
}

.firstSet{
  display: flex;
  margin-block: 50px;
  justify-content:space-around;
  align-items: center;
}

.firstSet >*{
  width: 32%;
  height: 200px;
}

.thirdSet{
  display: flex;
  column-gap: 50px;
  margin-inline: 20px;
  margin-block: 50px;
}

.pageTitle{
  font-size: 30px;
  text-transform: capitalize;
  margin-block: 30px;
}

.Pomodoro{
  background-image: url(../public/synthwave.jpg);
}

.secondSet{
  display: flex;
  column-gap: 50px;
  margin-inline: 20px;
  margin-block: 50px;
}