.weatherBody{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.weatherInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherInfos>*:first-child{
    font-size: 28px;
    margin-bottom: 0;
}

.city{
    display: block;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.city>*:first-child{
    font-weight: bold;
}